.App {
  text-align: center;
  background: #fefefe;
}

.App-header {
    background-color: #000639;
    height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(vMin);
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
}

.App-body {
    width: 94%;
    margin: auto;
    padding-top: 8vh;

}

.App-link {
    color: #61dafb;
}

.banner {
    background-color: #BBE5B3;
    width: 100%;
    margin-bottom: 0;
    margin-top: 1vh;
    padding: 2vh 0;
    border-radius: 5px;
    border-top: 5px solid #50B83C;
}

.main-bar {
    background: #efefef;
    padding: 1vh;
    margin-top: 1vh;
    border-radius: 5px;
    border-top: 5px solid #5C6AC4;
}

.search-panel{
    margin-bottom: 15px;
}

.search-bar {
    width: 20rem;
    background: white;
    border: none;
    padding: 0.5rem;
}

.cookies-bar{
    display: flex;
    justify-content: center;
}

.main-btn {
    padding: 5px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #5C6AC4;
    border: none;
    border-radius: 5px;
    margin-right: 1vw;
    margin-left: 1vw;
}

    .main-btn:hover {
        background-color: #202E78
    }

    .main-btn:active {
        background-color: #202E78;
        transform: translateY(2px);
    }


.movie-panel {
    display: flex;
}

.result-panel {
    display: inline;
    flex: 3;
    background: #efefef;
    margin: 1vw 1vw 1vh 0vw;
    border-radius: 5px;
    border-top: 5px solid #5C6AC4;
    height: 65vh;
}

.movie-header {
    padding: 5px;
    border-bottom: 2px solid #5C6AC4;
}

.search-item {
    width: 90%;
    background: white;
    margin: 1vh auto;
    border-radius: 5px;
    padding: 0px 20px;
    border-top: 5px solid #B3BCF5;
    align-content: center;
}

.min-search {
    flex: 3;
    display: flex;
}

.expand-btn{
    width: calc(100% + 40px);
    margin-left: -20px;
    border: 0;
    background: white;
    border-radius: 5px;
    padding: 4px 20px;
}

.expand-btn:hover{
    background: #dddddd;
}

.nominee {
    width: 80%;
    background: white;
    margin: 1vh auto;
    flex: 3;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    border-top: 5px solid #BBE5B3;
}

.movie-info {
    flex: 4;
    margin: 15px;
}

h3 {
    margin: 1vh;
}

.nominate-btn {
    padding: 10px;
    height: 30%;
    margin: auto;
    flex: 1;
}

.remove-btn {
    padding: 10px;
    height: 30%;
    margin: auto;
    flex: 1;
    vertical-align: middle;
    justify-content: center;
}

.nominated-panel {
    display: inline;
    flex: 2;
    background: #efefef;
    margin: 1vw 0vw 1vh 1vw;
    border-radius: 5px;
    height: 65vh;
    border-top: 5px solid #5C6AC4;
}

.nominee-list {
    overflow-y: auto;
    height: 55vh;
}


.movies-list {
    overflow-y: auto;
    height: 55vh;
}

h2 {
    font-size: 20px;
    margin: 0px;
}
